<button class="btn btn-lg btn-success btn-create {{if canNotSubmit 'hidden'}}">
  <i class="fa fa-cloud-download">&nbsp;</i>{{ validateText }}<br />
</button>
{{#draggable-object-target
  action='dropped'
  dragOverAction='enteringDrag'
  dragOutAction='leavingDrag'
}}
  <div class="dropzone"></div>
{{/draggable-object-target}}
