<button class="btn btn-lg btn-success btn-create {{if canNotSubmit 'hidden'}}">
  <i class="fa fa-cloud-download">&nbsp;</i>{{ validateText }}<br />
</button>
<div class="col-md-2" id="dropzone"></div>
