{{#draggable-object
  content=content
  dragStartAction='startDragging'
  dragEndAction='stopDragging'
  isDraggable=isDraggable
}}
  <img src="{{ content.small_src }}" class="thumb-preview" >
  {{yield}}
  <p class="pagenumber">
    {{ content.name }}
  </p>
{{/draggable-object}}
