# NPM packages folder.
node_modules/
bower_components/

# OS X
.DS_Store
Icon?
._*
.Spotlight-V100
.Trashes

# Some other random stuff
always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.vi
*.sass-cache

# OS or Editor folders
.cache
.project
.settings
.tmproj
.idea
nbproject

# Brunch folder for temporary files.
tmp/

# Brunch output
public/