<div class="container-fluid wrapper" id="content">
  <!-- Source page picking zone -->
  <div id="source">
    <div class="topnavbar">
      <h2>Source</h2>
    </div>
    <div id="source-content" class="sortable"></div>
  </div>

  <!-- Composition doc building zone -->
  <div id="compose">
    <div class="topnavbar" id="compose-title"></div>
    <div id="compose-content"></div>
  </div>
</div>