<div>
    <div id="docs"></div>

    <!-- Button should be in a seperate view -->
    <div id="submit-docs" class="hidden">
        <button class="btn btn-lg btn-success">
            <i class="fa fa-cloud-download">&nbsp;</i>{{ callbackText }}<br />
            <span id="docs-count"></span>
        </button>
    </div>
    <div class="col-md-2" id="dropzone">
    </div>
</div>
