<!-- list-docs -->
<div id="docs"></div>

<!-- Button should be in a seperate view -->
<div class="col-lg-3 hidden" id="submitbutton">
  <button class="create-doc btn btn-lg btn-success"><i class="icon icon-download"></i> Download docs<br><span id="docs-count"></span></button>
</div>
<div class="col-lg-3 new-doc">
  <p>New doc</p>
</div>
 